/* Heading */

h1 {
  text-align: center;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
}

/* left search  */

#search {
  min-width: 20vw;
  margin-left: 20px;
  margin-top: 20px;
}

#enter-city {
  height: 37px;
}

.input-text {
  width: 30px;
}

.search-btn {
  vertical-align: bottom;
}

h4 {
  margin-top: 20px;
}

.recent-btn {
  display: block;
  margin: 15px 0;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}

/* Current City */

#city-temp {
  border: 5px solid black;
  margin-top: 50px;
  margin-left: 30px;
  min-width: 70vw;
  min-height: 350px;
}

#city-temp > h3,
#city-temp > p {
  padding: 15px 0px 0px 15px;
}

#display-forecast {
  margin-top: 50px;
  margin-left: 30px;
}

/* forecast */
#forecast-container {
  display: flex;
}

.forecast-card {
  background-color: lightblue;
  margin: 20px;
  width: 150px;
  text-align: center;
}

h5 {
  margin-top: 10px;
}
